[Unit]
Description=reecore's distributed currency daemon
After=network.target

[Service]
User=reecore
Group=reecore

Type=forking
PIDFile=/var/lib/reecored/reecored.pid

ExecStart=/usr/bin/reecored -daemon -pid=/var/lib/reecored/reecored.pid \
          -conf=/etc/reecore/reecore.conf -datadir=/var/lib/reecored

ExecStop=-/usr/bin/reecore-cli -conf=/etc/reecore/reecore.conf \
         -datadir=/var/lib/reecored stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
